/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav{

    width: 100%;

    height: 100px;

    p{

        font-size: 1.5;

        padding-left: 30px ;

    }

    .icons{

         display: flex;

         botton {

            background: none;

            border-style: none;

         }

    }

}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


.main-section {
    padding: 20px;
}

.objetivo-section {
    text-align: center;
}

.image-section img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}


.product-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.product-section div {
    text-align: center;
    padding: 10px;
}


.info-section {
    margin: 20px 0;
}

.about-us, .gallery, .location {
    margin-bottom: 20px;
}

.gallery div {
    display: inline-block;
    margin: 5px;
}

.gallery img, .map img {
    width: 100px;
    height: auto;
}


/* Pie de página */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

footer .social-media img {
    width: 30px;
    height: auto;
    margin: 0 10px;
}
